<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bookstore</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="css/styles-search.css"/>
</head>
<body>
<header>
    <div class="logo">
        <a href="">Bookstore</a>
    </div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Project</a></li>
        </ul>
    </nav>
    <div class="search">
        <form action="/search" method="POST">
            <label>
                <input type="text" placeholder="Search...">
            </label>
            <button type="submit">Find!</button>
        </form>
    </div>
</header>
<div class="main">
    <div class="main-content">
        <div class="search-result">
            <div class="result">
                <img src="https://httpcats.com/201.jpg" alt="">
                <div class="info">
                    <div class="title">Book Title 201</div>
                    <div class="author">Author Name</div>
                </div>
            </div>
            <div class="result">
                <img src="https://httpcats.com/101.jpg" alt="">
                <div class="info">
                    <div class="title">Book Title 101</div>
                    <div class="author">Author: Author Name</div>
                </div>
            </div>
            <div class="result">
                <img src="https://http.dog/303.jpg" alt="">
                <div class="info">
                    <div class="title">Book Title 303</div>
                    <div class="author">Author Name</div>
                </div>
            </div>
            <div class="result">
                <img src="https://http.dog/404.jpg" alt="">
                <div class="info">
                    <div class="title">Book Title 404</div>
                    <div class="author">Author Name</div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <p>&copy; 2024 Bookstore. All right reserved </p>
</footer>

</body>
</html>